<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>최종디자인7</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/simba6/ggiri_pj/static/css/teamtest1.css"
    />
  </head>
  <body>
    <div container>
      <div class="navbar">
        <section class="button0">
          <img src="/이미지/끼리로고.png" />
          <h1>끼리</h1>
        </section>
        <section class="button1">
          <a class="link1" href="#">끼리페이지</a>
          <img src="/이미지/끼리로고.png" />
        </section>
      </div>
      <div class="processbar">
        <img src="/simba6/ggiri_pj/static/images/팀플유형 1.png" />
      </div>
      <div class="process">
        <h1>팀플 유형 검사</h1>
      </div>
      <div class="test">
        <a class="link1" href="#">팀플 유형 검사 질문</a>
        <a class="link1" href="#">팀플 유형 검사 질문</a>
        <a class="link1" href="#">팀플 유형 검사 질문</a>
        <a class="link1" href="#">팀플 유형 검사 질문</a>
      </div>
      <div class="footer">
        <section class="item-title">
          동국대학교 멋쟁이 사자처럼 심바톤 6조
        </section>
        <section class="item-content">
          <br />서울시 중구 필동로 1길 30 동국대학교 학생회관 2층<br /><br />@likelion_dongguk<br /><br />@DGU
          Likelion. All rights reserved.
        </section>
      </div>
    </div>
  </body>
</html>
